site_name: BeQuests
site_description: Stealth HTTP Engine for Python 
site_author: PainDe0Mie

theme:
  name: material
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: blue
      accent: yellow
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: blue
      accent: yellow
  features:
    - navigation.tabs
    - content.code.copy
    - content.code.annotate

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences

nav:
  - Home: index.md
  - Configuration: configuration.md
  - Protection Layers: protection-layers.md
  - API Reference: api-reference.md
  - Exemples: exemples.md
